main{
    width: 100%;
   height: 100%;
   background-color: #000000 !important;
}


h1{
    letter-spacing: 1.2rem;
}

h3{
    text-align: center;
}

.card img{
    height: 21rem !important;
}
.card-text{
    color: gray;
    text-decoration: line-through !important;
}
.detalhe{
    gap: 0.2rem;
}

.btn-primary{
    background-color: var(--cor-hover) !important;
    border: none !important;
    
}



/* Tamanhos de tela pequenos */
@media (max-width: 576px) {
    .logo img {
      width: 80px;
      height: 60px;
    }
  
    main img {
      width: 40%;
    }
  
    .carousel-caption h5 {
      font-size: 20pt;
    }
  
    .carousel-caption a {
      font-size: 12pt;
    }
  
    .card img {
      height: auto !important;
    }
    #menuPc{
      display: none;
  }
  #menuIcon{
    display: block;
  }
  }
  

 /* Tamanhos de tela médios */
 @media (min-width: 577px) and (max-width: 992px) {
    .logo img {
      width: 120px;
      height: 90px;
    }
  
    main img {
      width: 30%;
    }
  
    .carousel-caption h5 {
      font-size: 30pt;
    }
  
    .carousel-caption a {
      font-size: 15pt;
    }
    #menuPc{
      display: none;
  }
  #menuIcon{
    display: block;
  }

  }
  
  /* Tamanhos de tela grandes */
  @media (min-width: 993px) {
    .logo img {
      width: 150px;
      height: 120px;
    }
  
    main img {
      width: 20%;
    }
  
    .carousel-caption h5 {
      font-size: 40pt;
    }
  
    .carousel-caption a {
      font-size: 18pt;
    }
  
   
  }