
:root{
    --cor-fundo-azul:#000000a8;
    --cor-branco:#e2e2e2;
    --cor-link:#ff5151;
    --background-color:#ffffff;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.container {
    margin: auto;
    width: 80%; 
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%; 
    max-width: 90%;
    height: 90%; 
   
    background-color: var(--cor-form) !important;
    padding: 20px !important;
    box-shadow: 10px 10px 10px #f8515160 !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
    flex-wrap: wrap;
}

form div{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form div label{
    margin-bottom: 5px;
}
form div input{
    width: 15rem;
    height: 1.8rem;
    border-radius: 0.4rem;
}
form div input:focus{
    outline: #f10808;
    border: 2px solid #f10808;
}
form a{
    color: white;
    transition: color 300ms ;
}
form a:hover{
    color: var(--cor-link);
    text-decoration: underline;
}


/* Tamanhos de tela pequenos */
@media (max-width: 576px) {
    .logo img {
      width: 80px;
      height: 60px;
    }
  
    main img {
      width: 40%;
    }
  
    .carousel-caption h5 {
      font-size: 20pt;
    }
  
    .carousel-caption a {
      font-size: 12pt;
    }
  
    .card img {
      height: auto !important;
    }
    #menuPc{
      display: none;
  }
  #menuIcon{
    display: block;
  }
  }
  

 /* Tamanhos de tela médios */
 @media (min-width: 577px) and (max-width: 992px) {
    .logo img {
      width: 120px;
      height: 90px;
    }
  
    main img {
      width: 30%;
    }
  
    .carousel-caption h5 {
      font-size: 30pt;
    }
  
    .carousel-caption a {
      font-size: 15pt;
    }
    #menuPc{
      display: none;
  }
  #menuIcon{
    display: block;
  }

  }
  
  /* Tamanhos de tela grandes */
  @media (min-width: 993px) {
    .logo img {
      width: 150px;
      height: 120px;
    }
  
    main img {
      width: 20%;
    }
  
    .carousel-caption h5 {
      font-size: 40pt;
    }
  
    .carousel-caption a {
      font-size: 18pt;
    }
  
   
  }