
:root{
    --cor-fundo-azul:#000000a8;
    --cor-branco:#e2e2e2;
    --cor-link:#ff5151;
    --background-color:#ffffff;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.container {
    margin: auto;
    width: 80vw; /* Defina uma largura relativa à largura da tela */
    max-width: 600px; /* Estabeleça uma largura máxima para o layout */
    height: 70vh; /* Defina uma altura relativa à altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%; /* Ajuste para o formulário ocupar 90% da largura da .container */
    max-width: 90%; /* Defina um limite máximo para a largura do formulário */
    height: 90%; /* Ajuste para 90% da altura da .container */
    /* Outros estilos */
    background-color: var(--cor-form) !important;
    padding: 20px !important;
    box-shadow: 10px 10px 10px #f8515160 !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
    flex-wrap: wrap;
}
fo
form div{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form div label{
    margin-bottom: 5px;
}
form div input{
    width: 15rem;
    height: 1.8rem;
    border-radius: 0.4rem;
}
form div input:focus{
    outline: #f10808;
    border: 2px solid #f10808;
}
form a{
    color: white;
    transition: color 300ms ;
}
form a:hover{
    color: var(--cor-link);
    text-decoration: underline;
}

